<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-flower2" viewBox="0 0 16 16" color="#C4CF9A">
  <path d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4zm3-12c0 .073-.01.155-.03.247-.544.241-1.091.638-1.598 1.084A2.987 2.987 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1.117 1.117 0 0 1 5 4a3 3 0 0 1 6 0zm-.812 6.052A2.99 2.99 0 0 0 11 8a2.99 2.99 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a6.833 6.833 0 0 1-.647-.487zm-3.56.617a3.001 3.001 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084.02.091.03.174.03.247a3 3 0 1 1-6 0c0-.073.01-.155.03-.247.544-.242 1.091-.638 1.598-1.084zm-.816-4.721A2.99 2.99 0 0 0 5 8c0 .794.308 1.516.812 2.052a6.83 6.83 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487zM8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
</svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" style="color:#C4CF9A" class="nav-link px-2 text">Avocado</a></li>
          <li><a href="{{url_for('home')}}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
            {% if not current_user.is_authenticated %}
          <a href="{{url_for('login')}}"> <button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{{url_for('register')}}"><button type="button"  class="btn btn-warning">Sign-up</button></a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="#"> <button type="button" class="btn btn-outline-light me-2">My orders</button></a>


           <a href="{{url_for('cart')}}" type="button" style="padding-bottom:0px;" class="btn btn-outline-light me-2"><p style="margin:0px; margin-bottom:5px;">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg> +{{count}}</p></a>
            <a href="#" type="button" class=" me-2">{{current_user.name}}</a>
            <a href="{{url_for('logout')}}" class="me-2"> Logout</a>
            {% endif %}
        </div>
      </div>
    </div>
  </header>

<div class='marwu' style="width:100%; background:#8AA14E; color:black;">
    <marquee>20% off with code: NBUYNOW</marquee>
</div>

<div class="cover">
    <div class="container-fluid">

    <img src="https://cdn.shopify.com/s/files/1/2690/0106/products/m21nsa53699_800x.jpg?v=1644923962">

    <div class="right">
    <h1 style="font-size:5vw;">BUY.</h1>
    <h2 style="font-size:5vw;">NOW.</h2>
        </div>
        </div>
</div>

<div style="width:100%; height:2px;background:#8AA14E; color:#8AA14E;">

</div>

<div style="margin:auto;" class="container-lg">
    <h2 style="margin-top:50px;margin-left:40px;">Popular items</h2>
    <div style="margin-top:50px;margin-bottom:50px;" class="row">
    {% for i in things %}
        <div align="center" class="col-sm-12 col-md-8 col-lg-3">
    <div align="center" class="item_card">
         <a href="{{url_for('product', id=i.id)}}">
        <img class="img_item" src={{i.img_url}}>
        </a>
        <div class="details">
            <p>{{i.Name}}</p>
            <div style="display:flex;">
            <p>Price: ${{i.Price}}
                <br>
            <p style="margin-left:20px;">★{{i.Rating}}</p>

                <a href="{{url_for('add_to_cart', id=i.id)}}"><button style="font-size:12px; height:24px; margin-left:40px;">Add to cart</button></a>

                </div>
            </div>

        </div>
        </div>

    {% endfor %}
        </div>
    </div>


<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-body-secondary">© 2023</p>
        <p> All items and images from nestasia.in</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>About</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">I</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">should</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">stop</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">coding</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">for now</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Avocado</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">My</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">back</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">is</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">hurting</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>
  </footer>
</div>
</body>
</html>